DB_HOST=lovlechat-db.cf48aygyuqv7.ap-southeast-2.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=Lovle123!
DB_NAME=lovlechat
DB_PORT=3306
NODE_ENV=production
PORT=3002
FRONTEND_URL=https://lovlechat.vercel.app
